+pageHeading title='Dashboard'
.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .text-center.m-t-lg
        h1
          | Dashboard
        small SWIS Spark is a seed project for rapid UI development for GES/SPL applications
