.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-12
    h2 {{title}}
    ol.breadcrumb
      li
        | Company, Inc. Blog
      if category
        li
          a {{category}}
      li.active
        strong {{title}}
